# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.tmp/
build/

# Logs
*.log

# Environment
.env

# Agent build/package artifacts
agent/GestãoTI-Agent/
agent/dist/

# Node / React
node_modules/
dist/

# Vite
.vite/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
